header {
	text-align: : center;
	}

nav {
	background-color: #808080
}

nav a {
	background-color: #ffbf00;
	color: #ffffff;
	padding: 35px;
	display: inline-block;
	float: left;
}

nav a: hover {
	background-color: #ee5f3c;
}

p {
	text-align: : center;
}

.clearfix:after {
        visibility: hidden;
        display: block;
        content: " ";
        clear: both;
        height: 0;
        font-size: 0;
      }

.board 
{
	height: 50%;
	width: 50%;
	display: inline-block;
	float: left;
	margin: 8%;
}

.card 
{
	height: 200px;
	width: 150px;
	background-color: #ffff00;
	border: 1px;
	border-style: solid;
	border-color: #000000;
	border-radius: 10px;
}
h1 
{ 
		color: rgb(2, 132, 130);
}
h2 
{
		color: #ffd700;
}
.name {
	color: #ff0000;
}

footer {
	background-color: : #808080;
	text-align: center;
}